body {
    background: url(imagenes/fondo2.jpg);
    background-position: center;
}

input[type=button] {
    width: 100%;
    height: 100%;
    font-size: 30px;
    background-color: #e6e1e1;
    color: #00cdff;
}