body {
    background: url(imagenes/fondo2.jpg);
    background-position: center;
}

input[type=button] {
    width: 100%;
    height: 100%;
    font-size: 30px;
    background-color: #e6e1e1;
    color: #00cdff;
}

input[type="text"] {
    width: 100%;
    height: 100%;
    font-size: 50px;
    background: #e6e1e1;
}

table {
    width: 400px;
    height: 400px;
    margin: 50 auto;
}